@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

// Path: app/components/Header/Navbar.module.scss
.navbar-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    margin-bottom: 2rem;

    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        margin: 0.5rem 0 1rem 0;
        text-align: center;
        animation: slideIn 1s ease-in-out;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.navbar {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 1rem 2rem 2rem 2rem;
    background: white;
    border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.1);
    animation: slideIn 1s ease-in-out;

    ul {
        width: 100%;
        max-width: 1440px;
        gap: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;

    }

    li {
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: green;
            text-decoration: underline;
            transition-duration: 0.3s;
        }

        a {
            text-decoration: none;
            color: inherit;
        }


    }
}

@media screen and (min-width: 768px) {
    .navbar-container {

        h1 {
            font-size: 2.5em;
        }
    }

    .navbar {
        padding: 1rem 3rem;

        li {
            font-size: 1.5em;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}