.main {
    width: 100%;
    max-width: 1440px; // Limits the width for better readability
    margin: 0 auto; // Centers the content
    padding: 20px;
    background-color: #f9f9f9; // A light background to offset the leaderboard
    border-radius: 8px; // Softens the edges
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // A subtle shadow for depth
    // margin: 50px 50px; // Adds space around the container

    h1 {
        text-align: center; // Centers the heading
        margin-bottom: 20px; // Adds space below the heading
        color: #333;
    }
}

.leaderboard {

    list-style-type: none; // Removes default list styling
    padding: 0;

    .team {
        background-color: #ffffff; // White background for each team item
        border: 1px solid #ddd; // A subtle border
        padding: 15px;
        margin-bottom: 10px; // Spacing between team items
        border-radius: 5px; // Rounded corners

        h2 {
            margin-top: 0;
            color: #333; // Darker text for contrast
        }

        p {
            margin: 5px 0; // Vertical spacing between paragraphs
            color: #666; // Lighter text for less emphasis
        }

        &:last-child {
            margin-bottom: 0; // Removes margin from the last item
        }
    }
}