@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;

    h1 {
        color: #4c8527;
        font-size: 40px;
        margin-bottom: 30px;
    }
}

.leaderboardGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 10rem;
}

.gridHeader,
.gridRow {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;
}

.gridHeader {
    background-color: #4c8527;
    color: #ffffff;
    font-weight: bold;
}

.gridRow {
    &:nth-child(even) {
        background-color: #212121;
    }
}

.gridRow span,
.gridHeader span {
    flex: 1;

    &:nth-child(1) {
        flex: 0.5;
    }

    // Rank might not need as much space
    &:nth-child(6) {
        flex: 1.5;
    }

    // Points might need more space
}

@media screen and (min-width: 768px) {
    .leaderboardGrid {
        max-width: 1200px; // Or any max-width you find appropriate for larger screens
    }
}