@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: transparent; // Light background for the container
    width: 100%;
}

.leaderboardGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; // Adjust based on your layout
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    background-color: transparent; // White background for the grid area
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
    border-radius: 8px; // Rounded corners for modern look
    margin-top: 2em;
}

.gridHeader {
    display: contents;
    background-color: #004d40; // Dark teal background for header
    color: #ffffff; // White text for contrast
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0; // Rounded corners for top edge
    border: 1px solid #fdfdfd; // Match the background color for seamless look
}

.gridRow {
    display: contents;

    &:nth-child(odd) {
        background-color: #e0f2f1; // Light teal background for rows
    }

    span {
        padding: 10px;
        text-align: center;
        font-size: 1em;

        &:first-child {
            font-weight: bold; // Make the rank stand out
        }
    }
}

@media screen and (max-width: 768px) {
    .leaderboardGrid {
        grid-template-columns: repeat(3, 1fr); // Adjust for smaller screens
        gap: 5px;
    }

    // Optionally hide less critical data on smaller screens
    .gridHeader,
    .gridRow {
        span:nth-last-child(n+4):not(:first-child) {
            display: none;
        }
    }
}