// $primary-font: 'Roboto', sans-serif;
// $secondary-font: 'Cormorant Garamond', serif;
// $tertiary-font: 'Cinzel Decorative';

$font-size-mobile: 0.8rem;
$font-size-mobile-wide: 1rem;
$font-size-tablet: 1.25rem;
$font-size-desktop: 1.563rem;
$font-size-desktop-wide: 1.953rem;
$font-size-desktop-ultra-wide: 2.441rem;
$font-size-desktop-ultra-ultra-wide: 3.052rem;
$font-size-desktop-ultra-ultra-ultra-wide: 3.815rem;
$font-size-desktop-ultra-ultra-ultra-ultra-wide: 4.768rem;

$font-size-xx-small: 0.8rem;
$font-size-x-small: 1rem;
$font-size-small: 1.25rem;
$font-size-normal: 1.563rem;
$font-size-large: 1.953rem;
$font-size-x-large: 2.441rem;
$font-size-xx-large: 3.052rem;
$font-size-xxx-large: 3.815rem;
$font-size-xxxx-large: 4.768rem;