$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: lighten(#000000, 10%);
$secondary-color: #FFFFFF;
$tertiary-color: #4c8527;
$quaternary-color: #b63535;

$team1-color: #4c8527;
$team2-color: #d9534f;
$team3-color: #337ab7;
$team4-color: #f0ad4e;
$team5-color: #5bc0de;
$team6-color: #777;
$team7-color: #5cb85c;
$team8-color: #d43f3a;