$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: lighten(#000000, 10%);
$secondary-color: #FFFFFF;
$tertiary-color: #707070;
$quaternary-color: #D8D8D8;
$quinary-color: #FFE3E1;
$senary-color: #9DC08B;
$septenary-color: #E74646;
$octonary-color: #1D267D;
$nonary-color: #1D1CE5;

$primary-accent-color: #d5b381;
$secondary-accent-color: rgba(202, 178, 86, 1);