$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: lighten(#000000, 10%);
$secondary-color: #FFFFFF;
$tertiary-color: #4c8527;
$quaternary-color: #b63535;

$team1-color: #8479E1;
$team2-color: #B4ECE3;
$team3-color: #EA5E5E;
$team4-color: #f0ad4e;
$team5-color: #69AEFF;
$team6-color: #E0F6AA;
$team7-color: #76BA99;
$team8-color: #FFA5A5;