@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  margin-bottom: 10rem;

  h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-press-start-2p), monospace;
    padding: 2rem 0;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .paused {
    animation-play-state: paused;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  max-width: 1440px;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem 0;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-orbitron), sans-serif;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.select {
  background-color: $secondary-color;
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: var(--font-kalam), sans-serif;
  color: $tertiary-color;
  -webkit-appearance: none;
  /* Removes default inner border in Safari */
  -moz-appearance: none;
  /* Removes default inner border in Firefox */
  appearance: none;
  /* Removes default inner border in newer browsers */
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: 1rem 0;
  padding-right: 30px;
}

.select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  gap: 0.5rem;

  button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    gap: 1rem;
    background-color: $tertiary-color;
  }

  button:hover {
    background-color: darken($color: $tertiary-color, $amount: 10%);
    transform: scale(1.05);
  }

  button:active {
    background-color: darken($color: $tertiary-color, $amount: 20%);
  }

  button:disabled {
    background-color: $quaternary-color;
    color: #ffffff;
    cursor: not-allowed;
  }
}

.resetButton {
  button {
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin: 1rem;
  }

  button:hover {
    background-color: darken($color: $quaternary-color, $amount: 10%);
    transform: scale(1.05);
  }
}

.winnerMessage {
  margin-top: 20px;
  font-size: 54px;
  color: #4c8527; // Feel free to adjust the color
  font-weight: bold;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .main {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 4em;
      padding: 0 2rem;
    }
  }

  .select {
    font-size: 26px;
  }

  .resetButton {
    margin-top: 3rem;

    button {
      padding: 20px 50px;
    }
  }
}