@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;

  h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-press-start-2p), monospace;
    padding: 2rem 0;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .paused {
    animation-play-state: paused;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem 0;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-orbitron), sans-serif;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1440px;
  gap: 1rem;

  button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    gap: 1rem;
    background-color: #4c8527;
  }

  button:hover {
    background-color: #3a6e20;
    transform: scale(1.05);
  }

  button:active {
    background-color: #2f5b1a;


  }

  button:disabled {
    background-color: #b63535;
    color: #ffffff;
    cursor: not-allowed;
  }
}

.resetButton {
  button {
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 1rem;
  }

  button:hover {
    background-color: #b63535;
    transform: scale(1.05);
  }
}

.winnerMessage {
  margin-top: 20px;
  font-size: 24px;
  color: #4c8527; // Feel free to adjust the color
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main {
    h1 {
      font-size: 3em;
    }
  }

  .resetButton {
    button {
      padding: 20px 50px;
    }
  }
}