.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  max-width: 1440px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  max-width: 1440px;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem 0;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1440px;
  gap: 1rem;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    gap: 1rem;
  }
}


.winnerMessage {
  margin-top: 20px;
  font-size: 24px;
  color: green; // Feel free to adjust the color
  font-weight: bold;
  text-align: center;
}

// /* Enable hover only on non-touch devices */
// @media (hover: hover) and (pointer: fine) {}

// @media (prefers-reduced-motion) {}

// /* Mobile */
// @media (max-width: 700px) {
//   .content {
//     padding: 4rem;
//   }

//   .grid {
//     grid-template-columns: 1fr;
//     margin-bottom: 120px;
//     max-width: 320px;
//     text-align: center;
//   }
// }

// /* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }