@use "./app/styles/base/_typography" as *;
@use "./app/styles/base/_variables" as *;

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    margin-bottom: 10rem;

    h1 {
        color: #4c8527;
        font-size: 40px;
    }

    img {
        width: 256px;
        height: auto;
        padding: 1em 1em 2em 1em;
    }
}

.scoreboard {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}

.matchCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2rem 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1440px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, 0.5);
}

.matchHeader {
    text-align: center;
    margin-bottom: 1rem;
}

.teamAndScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.teamName {
    flex: 1;
    font-weight: bold;
    color: #4c8527;
    font-size: $font-size-tablet;
    text-align: center;
}

.matchScore {
    flex: 0 1 auto;
    font-family: var(--font-orbitron), sans-serif;
    font-size: $font-size-mobile-wide;
    margin: 0 20px;
    text-align: center;
}

.playerNames {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6em;
}

.playersTeamA {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // padding-left: 1em;
}

.playersTeamB {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // padding-left: 1em;
}

.playersTeamA p {
    text-align: center;
    font-size: $font-size-mobile;
}

.playersTeamB p {
    text-align: center;
    font-size: $font-size-mobile;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 0 20px;
    }

    .scoreboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .matchCard {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .matchHeader,
    .teamName {
        font-size: $font-size-desktop;
    }

    .matchScore,
    .playerNames {
        font-size: $font-size-desktop;
    }

    .teamName,
    .matchScore {
        flex: none;
        margin: 0 10px;
        font-size: $font-size-desktop;
    }

    .playerNames {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .playersTeamA,
    .playersTeamB {
        padding-left: 0.5em;
        align-items: center;
        text-align: center;
    }
}